.NameCard {
    box-sizing: border-box;
    perspective: 550px;
    /* Styling */
    color: var(--secondary);
    text-transform: uppercase;
    letter-spacing: 4px;

    position: relative;
    margin: 20px auto;
    margin-left: 30px;
    border-radius: 20px;
}

.card {
    width: 580px;
    height: 360px;
    background: linear-gradient(-45deg, var(--background), var(--accent));
    box-shadow: 0 3px 6px linear-gradient(-45deg, var(--background), var(--accent)), 
                0 3px 6px linear-gradient(-45deg, var(--background), var(--accent));

    transform-style: preserve-3d;
    transition: 0.6s;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* Fix Chrome rendering bug */
    transform: rotate(0deg) translateZ(1px);
}
/* Flip the card on hover */
.NameCard:hover .card, .back { transform: rotateY(-180deg) translateZ(1px); }
.front {
    line-height: 390px;
    text-align: center;
}
.logo {
    outline: 1px solid var(--primary);
    display: inline-block;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: 8px;
}


code, .card .line-numbers {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 18px;
    line-height: 20px;
}
code {
    padding-left: 45px;
}

.back {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    transition: 0.9s cubic-bezier(0.25, 0.8, 0.25, 1);
    backface-visibility: hidden;
    overflow: hidden;
}

.card .back {
    background: linear-gradient(-45deg, var(--background), var(--accent));
}

.card .line-numbers {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.03);
    font-size: 18px;
}
.card .line-numbers > div {
    padding: 2.5px 0;
    opacity: 0.2;
}
.card code, .card .line-numbers {
    color: var(--secondary);
    font-size: 18px;
}
.card .indent { 
  padding-left: 30px;
  margin-bottom: 10px;
}
  
.card .operator {
    color: var(--primary);
  }
  .card .string {
    color: #f3994c;
  }
  .card .variable {
    color: #BA68C8;
  }
  .card .property {
    color: #ef5350;
    color: var(--secondary);

  }
  .card .method {
    color: #ff2800;
  }
  .card .function {
    color: #29b6f6;
  }
  .card .array {
    color: #6E8Dd3;
  }
  


  @media screen and (min-width: 768px) and (max-width: 1079px) {
    .NameCard {
        perspective: 90%;
    }

    .card {
      width: 100%;
      height: 360px;
    }
} 