.HeaderWang {
    font-family: Optima, "Comic Sans MS", "Comic Sans", cursive, 
                    Roboto, Helvetica, Arial, sans-serif;
    padding-top: 40px;
    padding-left: 30px;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a { text-decoration: none;}
h1 {
    color: var(--primary);
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: normal;
    margin-left: 40px;
}

h1:hover {
    color: var(--secondary);
}

.navbar{
    position: absolute;
    margin-top: 25px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
    border: 3px solid var(--secondary);
    border-radius: 30px;

    padding: 10px 0px 10px 25px;
    display: flex;
    gap:  20px;
}

.navbar a{
    color: var(--secondary);
    text-decoration: none;
    font-size: 1.0em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    
    width: 70px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.navbar a:hover{
    color:var(--primary);
    text-decoration: dashed;
}
.navbar a:active{
    color:var(--primary);
    text-decoration: dashed;
}

.switch{
    position: relative;
    width: 100px;
    height: 45px;
    margin: 0px;
    margin-top: 5px;
    margin-left: 600px;
    appearance: none;
    -webkit-appearance: none;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid var(--secondary);
    border-radius: 25px;
    box-shadow: inset 0px 0px 2px rgba(255,255,255,.7);
    transition: background-image .7s ease-in-out;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    background-image: url("../images/bg.jpg");
}
    
.switch:checked{
    background-size: cover;
    transition: background-image 1s ease-in-out;
    background-image: url("../images/bg2.jpg");
}
    
    
.switch:after{
    content: '';
    width: 46px;
    height:46px;
    border-radius: 50%;
    /* background: linear-gradient(#7bf2da 20%, #0ABAB5 50%, var(--primary) 100%, #09604f 100%); */
    position: absolute;
    left: 2px;
    top: 2px;
    transform: translateX(0px);
    animation: off .7s forwards cubic-bezier(.8, .5, .2, 1.4);
    box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3);
}
    
@keyframes off{
    0%{
        transform: translateX(80px);
        width: 46px;
    }
    50%{
        width: 75px;  
        border-radius: 25px;   
    }
    100%{
        transform: translateX(0px); 
        width: 46px;
    }
}
    
    
    
.switch:checked:after{
    animation: on .7s forwards cubic-bezier(.8, .5, .2, 1.4);
    box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3);
    }
    
    @keyframes on{
    0%{
        transform: translateX(0px);
        width: 46px;
    }
    50%{
        width: 75px;  
        border-radius: 25px;   
    }
    100%{
        transform: translateX(80px); 
        width: 46px;
    }
}
    
    
.switch:checked:before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 5px;
    transform-origin: 53px 10px;
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px);
    animation: sun .7s forwards ease;
}

@keyframes sun{
    0%{
        transform: rotate(170deg);
        background-color: transparent;
        box-shadow: 5px -1px 0px #fff;
        filter: blur(0px);
    }
    50%{
        background-color: transparent;
        box-shadow: 5px -1px 0px #fff;
        filter: blur(0px);
    }
    90%{
        background-color: #f5daaa;
        box-shadow: 0px 0px 10px #f5deb4,
        0px 0px 20px #f5deb4,
        0px 0px 30px #f5deb4,
         inset 0px 0px 2px #efd3a3;
         filter: blur(1px);
    }
    100%{
        transform: rotate(0deg);
        background-color: #f5daaa;
        box-shadow: 0px 0px 10px #f5deb4,
        0px 0px 20px #f5deb4,
        0px 0px 30px #f5deb4,
         inset 0px 0px 2px #efd3a3;
         filter: blur(1px);
    }
}
    
    
    
.switch:before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 5px;
    filter: blur(1px);
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4,
                0px 0px 20px #f5deb4,
                0px 0px 30px #f5deb4,
                inset 0px 0px 2px #efd3a3;
     transform-origin: 33px 10px;
     animation: moon .7s forwards ease;
}
    
@keyframes moon{
    0%{
        transform: rotate(0deg);
        filter: blur(1px);
    }
    50%{
        filter: blur(1px);
    }
    90%{
        background-color: transparent;
        box-shadow: 5px -1px 0px #fff;
        filter: blur(0px);
    
    }
    100%{
        transform: rotate(170deg);
        background-color: transparent;
        box-shadow: 5px -1px 0px #fff;
        filter: blur(0px);
    }
}