
.icons{
    display: grid;
    display: flex;
    gap: 100px;
    place-items: center;

    height: 100%;
    margin-top: 60px;
    margin-bottom: 80px;
    padding: 0 200px;
    box-sizing: border-box;

    font-family: "Comic Sans MS", "Comic Sans", cursive, 
    Roboto, Helvetica, Arial, sans-serif;
}

.icons a{
    margin: 0;
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
}

.icons a .layer{
    width: 60px;
    height: 60px;
}

.icons a:hover .layer{
    transform: rotate(-35deg) skew(20deg);
}

.icons a .layer span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 10px; 
}

.icons a .layer span.fab{
    font-size: 30px;
    line-height: 60px;
    text-align: center;
}

.icons a:hover .layer span:nth-child(1){
    opacity: 0.2;
}

.icons a:hover .layer span:nth-child(2){
    opacity: 0.4;
    transform: translate(5px, -5px);
}
.icons a:hover .layer span:nth-child(3){
    opacity: 0.6;
    transform: translate(10px, -10px);
}
.icons a:hover .layer span:nth-child(4){
    opacity: 0.8;
    transform: translate(15px, -15px);
}
.icons a:hover .layer span:nth-child(5){
    opacity: 1;
    transform: translate(20px, -20px);
}
.icons a:nth-child(1) .layer span,
.icons a:nth-child(1) .text{
    color: #4267B2;
    border-color: #4267B2;
}
.icons a:nth-child(2) .layer span,
.icons a:nth-child(2) .text{
    color: #1DA1F2;
    border-color: #1DA1F2;
}
.icons a:nth-child(3) .layer span,
.icons a:nth-child(3) .text{
    color: #DD2A7B;
    border-color: #DD2A7B;
}
.icons a:nth-child(4) .layer span,
.icons a:nth-child(4) .text{
    color: var(--primary);
    border-color: var(--primary);
}
.icons a:nth-child(5) .layer span,
.icons a:nth-child(5) .text{
    color: var(--medium);
    border-color: var(--medium);
}
.icons a:hover:nth-child(1) .layer span{
    box-shadow: -1px 1px 3px #4267B2;
}
.icons a:hover:nth-child(2) .layer span{
    box-shadow: -1px 1px 3px #1DA1F2;
}
.icons a:hover:nth-child(3) .layer span{
    box-shadow: -1px 1px 3px #DD2A7B;
}
.icons a:hover:nth-child(4) .layer span{
    box-shadow: -1px 1px 3px var(--primary);
}
.icons a:hover:nth-child(5) .layer span{
    box-shadow: -1px 1px 3px #fff;
}

.icons a .text{
    position: absolute;
    left: 50%;
    bottom: -5px;
    opacity: 0;
    font-weight: 500;
    transform: translateX(-50%);
    transition: bottom 0.3s ease, opacity 0.3s ease;
}

.icons a:hover .text{
    bottom: -50px;
    opacity: 1;
}