/* ProjectTitle */
.ProjectTitle {
    font-family: Optima, "Comic Sans MS", "Comic Sans", cursive,
        Roboto, Helvetica, Arial, sans-serif;
    margin-left: 30px;
}

.ProjectTitle h2 {
    margin-left: 30px;
    margin-top: 60px;
    font-size: 2.6rem;
    color: var(--primary);
    margin-bottom: 30px;
    line-height: 1.05em;
    font-weight: 100;
    letter-spacing: normal;
}

.ProjectTitle h2:hover {
    color: var(--secondary);
}

.ProjectTitle span {
    margin-left: 30px;
    color: var(--secondary);
    font-size: 1.6rem;
    justify-content: left;
    display: flex;
}
/* 
.project-grid {
    justify-content: space-evenly;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 49%;
    -moz-column-width: 49%;
    column-width: 49%; 


    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    grid-gap: 50px;
    grid-template-columns: 300px 650px;
}
*/

/* ProjectCard */
/* .project-grid .ProjectCard .card {
    display: inline-block;
    font-weight: bold;
    position: relative;
    width: 90%;
    height: 220px;
    margin-top: 50px;
}

.project-grid .ProjectCard .card {
    padding: 30px;
    border: 2px solid linear-gradient(var(--accent), var(--background));
    border-radius: 10px;
    background: linear-gradient(var(--accent), var(--background), var(--accent));
    text-decoration: none;
    color: var(--secondary);
    display: inline-block;
    transition: 0.25s ease;
}

.project-grid .ProjectCard .card:hover {
    transform: translate(-30px, -30px);
    border-color: var(--primary);
}

.project-grid .ProjectCard .card:hover .card--display {
    display: none;
}

.project-grid .ProjectCard .card .card--display h2 {
    margin-top: 30px;
    font-size: 1.8em;
}

.project-grid .ProjectCard .card .card--display h3 {
    margin-top: 10px;
    font-size: 1.0em;
    line-height: 1.5;
    letter-spacing: 1px;
    color: var(--primary);
}

.project-grid .ProjectCard .card .card--display .hashtag {
    margin-top: 30px;
}

.project-grid .ProjectCard .card .card--display span {
    margin-right: 20px;
    color: var(--secondary);
    padding: 5px 10px;

    border: 2px solid var(--primary);
    background-color: var(--accent);

    border-radius: 20px;
    font-size: 13px;
    letter-spacing: 1px;
}


.project-grid .ProjectCard .card:hover .card--hover {
    display: block;
}

.project-grid .ProjectCard .card .card--hover {
    display: none;
}

.project-grid .ProjectCard .card .card--hover h2 {
    margin-top: 30px;
    color: var(--primary);
}

.project-grid .ProjectCard .card .card--hover p {
    font-weight: normal;
    line-height: 1.5;
}

.project-grid .ProjectCard .card .card--hover .link {
    font-weight: bold;
    font-size: 1em;
    color: var(--primary);

    display: flex;
    justify-content: space-between;
    margin: 0px 50px 10px 0px;
}

.project-grid .ProjectCard .card .card--hover .faicon {
    font-weight: normal;
    padding-left: 3px;
    padding-top: 1px;
}

@media (max-width: 600px) {
    .project-grid {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 80%;
        -moz-column-width: 80%;
        column-width: 80%;
    }

    .project-grid .ProjectCard .card {
        margin-left: 10%;
        padding: 0px 10px;
        height: 300px;
        width: 80%;
        border: 30px solid linear-gradient(var(--accent), var(--background));
    }

    .project-grid .ProjectCard .card .card--display h2 {
        margin-top: 30px;
        font-size: 1.2em;
    }

    .project-grid .ProjectCard .card .card--display h3 {
        font-size: 0.8em;
    }

    .project-grid .ProjectCard .card .card--display .hashtag {
        display: flex;
        flex-direction: column;
    }

    .project-grid .ProjectCard .card .card--display span {
        margin-top: 10px;
    }
} */

.project-grid  .ProjectCard {
    display: flex;
    height: 300px;
    /* border: black solid 5px; */
}

.project-grid  .ProjectCard .project-image{
    width: 600px;
    margin-top: 50px;
    height: 225px;
    overflow: hidden;
    /* border: black solid 5px; */

}

.project-grid  .ProjectCard .project-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-grid .ProjectCard .project-details {
    margin-top: 25px;
    margin-left: 2%;
    width: 100%;
}

.project-grid .ProjectCard .hashtag {
    margin: 2rem 0;
}

.project-grid .ProjectCard span {
    margin-right: 20px;
    color: var(--secondary);
    padding: 5px 10px;

    border: 2px solid var(--primary);
    background-color: var(--accent);

    border-radius: 20px;
    font-size: 13px;
    letter-spacing: 1px;
}

.project-grid .ProjectCard .link {
    font-weight: bold;
    font-size: 1em;
    color: var(--primary);

    display: flex;
    justify-content: space-between;
    margin: 0px 50px 10px 0px;
    margin-top: 30px;
}

.project-grid .ProjectCard .faicon {
    font-weight: normal;
    padding-left: 3px;
    padding-top: 1px;
}

@media screen and (min-width: 761px) and (max-width: 1079px) {
    .ProjectCard .hashtag{
        visibility: hidden;
    }

    .project-grid .ProjectCard .link {
        font-weight: bold;
        font-size: 1em;
        color: var(--primary);
    
        display: flex;
        justify-content: space-between;
        margin: 0px 50px 10px 0px;
        margin-top: -25px;
    }
}

@media screen and (max-width: 760px) {
    .project-grid  .ProjectCard {
        flex-direction: column;
        height: 500px;
        /* border: 2px var(--primary) solid; */
        border-radius: 5vw;
    }

    .project-grid  .ProjectCard .project-image{
        width: 90vw;
        height: 100%;
        margin-top: 0px;
        margin-left: 5vw;
        /* border: black solid 5px; */
    
    }
    
    .project-grid .ProjectCard .project-details {
        margin-top: 0px;
        margin-left: 5vw;
        width: 90vw;
    }

    .project-grid .project-details .full-desc {
        visibility: hidden;
    }

    .project-grid .ProjectCard .hashtag {
        margin-top: max(-10vh, -100px);
        display: grid;
        column-gap: 5vw;
        justify-content: space-between;
        grid-template-columns: 45% 45%;
    }

    .project-grid .ProjectCard span {
        margin-right: 0;
        margin-top: 2vh;
        color: var(--secondary);
        padding: 5px 10px;
    
        border: 2px solid var(--primary);
        background-color: var(--accent);
    
        border-radius: 20px;
        font-size: 13px;
        letter-spacing: 1px;
    }

    .project-grid .ProjectCard .link .click{
        border: none;
        width: 90vw;
        text-align: center;
        font-size: 1.1em; 
        color: var(--primary);
        margin: 0;
        visibility: hidden;
        margin-bottom: -70px;
    }
}